<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="honey.backlava.css">
    <link rel="stylesheet" href="setup.css">
    <body>
        <div class="pageBackDrop" onclick="clickedBackDrop()"></div>
        <div class="pageHeader">
            <div class="headerTitle">
                <h1>Food Talk</h1>
            </div>
            <div class="headerAccount">
                <button onclick="location.href='https://youtu.be/dQw4w9WgXcQ'">Log In</button>
                <button onclick="location.href='https://youtu.be/dQw4w9WgXcQ'">Sign Up</button>
            </div>
        </div>
        <div class="sideMenu">
            <div class="headerMenuBtn" onclick="showSideMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>
    <script src="Reyswork.js"></script>
</html>