<!DOCTYPE html>
<html>
    <style type="text/css">

    </style>

    <style>
        .macarons{
            font-size: 55px;
            color: mintcream;
            text-align: center;
            text-decoration-line: underline;
            text-decoration-thickness: 1.5px;
            text-decoration-style:double;
        }
    </style>





    <body>
        <div class="pageBackDrop" onclick="clickedBackDrop()"></div>
        <div class="pageHeader">
            <div class="headerTitle">
                <h1>Food Talk</h1>
            </div>
            <div class="headerAccount">
                <button onclick="location.href='https://youtu.be/dQw4w9WgXcQ'">Log In</button>
                <button onclick="location.href='https://youtu.be/dQw4w9WgXcQ'">Sign Up</button>
            </div>
        </div>
        <div class="sideMenu">
            <div class="headerMenuBtn" onclick="showSideMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>


    
    <div class="macarons">
        Macarons
    </div>
</html>