
/*This is your title of your dessert page*/
.title-1{
    font-size: 55px;
    color: black;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-style:double;
}