
/*This is your title of your dessert page*/
.title{
    font-size: 55px;
    color: black; /* change the color of the font here */
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-style:double;
}